
<nav class = "navbar navbar-inverse navbar-fixed-top" ng-controller = "HeaderController">
    <div class = "container-fluid">
        <div class = "navbar-header">
            <a class = "navbar-brand" href = "#">Form Maker</a>
        </div>
        <div id = "navbar" class = "navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-show = "user == null" ng-class = "{$location:url() == '/register'}" href = "#/register">
                    Register
                </a>
                </li>
                <li><a ng-show = "user == null" ng-class = "{$location:url() == '/login'}" href = "#/login">
                    Login
                </a>
                </li>
                <li><a ng-show = "user != null" ng-click = "logout()" href = "#/home">
                    Logout
                </a>
                </li>
                <li><a ng-show = "user !=null" ng-class = "{$location:url() == '/login'}" href = "#/profile">
                    {{user.username}}
                </a>
                </li>
                <li>
                    <a ng-show = "(user !=null && (user.roles == 'admin' || user.username == 'dan'))"
                       ng-class = "{$location:url() == '/login'}"
                       href = "#/admin">Admin
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>







