<div class = "container" ng-controller = "SidebarController">
    <div class = "col-sm-3 col-md-2 sidebar">
        <ul class = "nav nav-sidebar nav-pills nav-stacked">
            <li >
                <a ng-class = "{'active' : $location.url() == '/home'}" href = "#/home">Home
                </a>
            </li>
            <li>
                <a ng-show = "user !=null" ng-class = "{'active' : $location.url() == '/profile'}"
                   href = "#/profile">Profile
                </a>
            </li>
            <li>
                <a ng-show = "user !=null" ng-class = "{'active' : $location.url() == '/forms'}"
                   href = "#/forms">Forms
                </a>
            </li>
            <li>
                <a ng-show = "(user !=null && (user.roles == 'admin' || user.username == 'dan'))"
                   ng-class = "{$location:url() == '/admin'}"
                   href = "#/admin">Admin
                </a>
            </li>
        </ul>
    </div>
</div>




