<div class="container" ng-controller = "SidebarController">
    <div class = "col-sm-3 col-md-2 sidebar">
        <ul class = "nav nav-sidebar">
            <li ng-class = "{'active' : $location.url().indexOf('home') != -1}">
                <a href = "#/home">Home
                </a>
            </li>
            <li ng-show = "currentUser" ng-class = "{'active' : $location.url().indexOf('profile') != -1}">
                <a href = "#/profile">Profile
                </a>
            </li>
            <li ng-show = "currentUser" ng-class = "{'active' : $location.url().indexOf('form') != -1}">
                <a href = "#/forms">Form
                </a>
            </li>
            <li ng-show = "currentUser && (currentUser.roles.indexOf('admin') != -1)"
                ng-class = "{'active' : $location.url().indexOf('admin') != -1}">
                <a href = "#/profile">Profile
                </a>
            </li>
        </ul>
    </div>
</div>
