<div ng-controller = "RegisterController">
    <h1 class = "page-header">Register</h1>
    <form class = "form-horizontal">

        <div class = "form-group">
            <label for = "Username" class = "col-sm-2 form-control-label">Username:</label>
                <div class = "col-sm-10">
                    <input ng-model="userRegister.username" type = "text" class = "form-control"
                           id = "Username" placeholder = "Username">
                </div>
        </div>

        <div class = "form-group">
            <label for = "enterPassword" class = "col-sm-2 form-control-label">Password:</label>
                <div class = "col-sm-10">
                    <input ng-model = "userRegister.password" type = "password" class = "form-control"
                           id = "enterPassword" placeholder = "Password">
                </div>
        </div>

        <div class = "form-group">
            <label for = "vPassword" class = "col-sm-2 form-control-label">Verify Password:</label>
                <div class = "col-sm-10">
                    <input ng-model = "userRegister.verifyPassword" type = "password" class = "form-control"
                           id = "vPassword" placeholder = "Verify Password">
                </div>
        </div>

        <div class="form-group">
            <label for = "enterEmail" class = "col-sm-2 form-control-label">Email:</label>
                <div class = "col-sm-10">
                    <input ng-model = "userRegister.email" type = "email" class = "form-control"
                           id = "enterEmail" placeholder = "Email">
                </div>
        </div>

        <div class = "form-group">
            <div class = "col-sm-offset-2 col-sm-10">
                <a ng-click="register()" type = "submit" class = "btn btn-default btn-block btn-primary" role = "button">
                    Register
                </a>
            </div>
        </div>
    </form>
</div>